{{ define "content" }}
    <div class="page-header">
        <center><h2>CBO Analytics Platform Dashboard</h2></center>
    </div>

    {{/*<div class="row">*/}}
        {{/*<div class="col-lg-6">*/}}
            {{/*<a href="/admin/projects" class="btn btn-block btn-outline-secondary btn-lg">Projects</a>*/}}
        {{/*</div>*/}}
        {{/*<div class="col-lg-6">*/}}
            {{/*<a href="/admin/tasks" class="btn btn-block btn-outline-secondary btn-lg">Tasks</a>*/}}
        {{/*</div>*/}}
        {{/*<div class="col-lg-6">*/}}
            {{/*<a href="/admin/activities" class="btn btn-block btn-outline-secondary btn-lg">Activities</a>*/}}
        {{/*</div>*/}}
        {{/*<div class="col-lg-6">*/}}
            {{/*<a href="/admin/users" class="btn btn-block btn-outline-secondary btn-lg">Users</a>*/}}
        {{/*</div>*/}}
        {{/*<div class="col-lg-6">*/}}
            {{/*<a href="/admin/employees" class="btn btn-block btn-outline-secondary btn-lg">Employees</a>*/}}
        {{/*</div>*/}}
        {{/*<div class="col-lg-6">*/}}
            {{/*<a href="/admin/managers" class="btn btn-block btn-outline-secondary btn-lg">Managers</a>*/}}
        {{/*</div>*/}}
        {{/*<div class="col-lg-6">*/}}
            {{/*<a href="/admin/roles" class="btn btn-block btn-outline-secondary btn-lg">Roles</a>*/}}
        {{/*</div>*/}}
        {{/*<div class="col-lg-6">*/}}
            {{/*<a href="/admin/teams" class="btn btn-block btn-outline-secondary btn-lg">Teams</a>*/}}
        {{/*</div>*/}}
        {{/*<div class="col-lg-6">*/}}
            {{/*<a href="/admin/clients" class="btn btn-block btn-outline-secondary btn-lg">clients</a>*/}}
        {{/*</div>*/}}
        {{/*<div class="col-lg-6">*/}}
            {{/*<a href="/admin/support-messages" class="btn btn-block btn-outline-secondary btn-lg">View Messages</a>*/}}
        {{/*</div>*/}}
    {{/*</div>*/}}
    <!-- row -->
{{ end }}